<div id="content">
<div id="center" class="system_box">

    <h2>Admin Home</h2>

    <h3>Administration</h3>
    <ul>
        <li><a href="/valid_data.cgi">Lookup tables</a></li>
        <li><a href="/admin.cgi?op=configuration">Configuration</a></li>
        <li><a href="/notification.cgi">Email Notification Templates</a></li>
        <li><a href="/admin_assessment_templates.cgi">Assessment Templates</a></li>
<!--    <li><a href="/scanned_record.cgi">Scanned Records</a></li> -->
<!--        <li><a href="../gateway/rolodex_cleanup.cgi">Rolodex Cleanup Tool</a></li> -->
    </ul>

    <hr class="subtle" />

    <div class="minileft">

        <h3>Personnel</h3>
        <ul>
            <li><a href="/personnel.cgi">Personnel</a></li>
<!--
            <li><a href="../gateway/set_treaters.cgi">Set users as treaters</a></li>
            <li><a href="../personnel/employee_driver.cgi">Drivers Licenses</a></li>
            <li><a href="../personnel/employee_education.cgi">Education History</a></li>
            <li><a href="../personnel/employee_evaluation.cgi">Evaluation Schedule</a></li>
            <li><a href="../personnel/employee_physical.cgi">Physical Exams</a></li>
            <li><a href="../personnel/employee_supervision.cgi">Supervision</a></li>
            <li><a href="../personnel/employee_training.cgi">Training</a></li>
            <li><a href="../personnel/per_diem.cgi">Per Diem Request Form</a></li>
-->
        </ul>
    </div>
<!--
    <div class="miniright">
        <h3>Property</h3>
    <ul>
        <li><a href="../property/disaster_drill.cgi">Disaster Drills</a></li>
        <li><a href="../property/fire_drill.cgi">Fire Drills Entry</a></li>
        <li><a href="../property/housing_beds.cgi">Certified Beds (Addresses)</a></li>
        <li><a href="../property/lease_tracking.cgi">Lease Tracking</a></li>
        <li><a href="../property/purchase_order.cgi">Purchase Orders</a></li>
        <li><a href="../property/purchase_code.cgi">Purchase Order Codes</a></li>
        <li><a href="../property/purchase_report.cgi">Purchase Order Report</a></li>
        <li><a href="../property/safety_checklist.cgi">Safety Checklist</a></li>
        <li><a href="../property/unit_vehicle.cgi">Unit Vehicles</a></li>
        <li><a href="../property/work_order.cgi">Work Orders</a></li>
        <li><a href="../property/work_report.cgi">Work Order Report</a></li>
    </ul>
    </div>
-->
    <hr class="div" />
</div>
</div>
