<b>&#149; Individual Lease Information</b>

<p />

<table border="0">
    <tr>
        <td><b>Unit Name: </b></td>
        <td>[% row_unit_lname %]</td>
    </tr>
    <tr>
        <td><b>Address: </b></td>
        <td>[% row_addr %]</td>
    </tr>
    <tr>
        <td><b>Apartment: </b></td>
        <td>[% row_apt %]</td>
    </tr>
    <tr>
        <td><b>City: </b></td>
        <td>[% row_city %]</td>
    </tr>
    <tr>
        <td><b>Post Code: </b></td>
        <td>[% row_post_code %]</td>
    </tr>
    <tr>
        <td><b>Lease Type: </b></td>
        <td>[% row_ltype %]</td>
    </tr>
    <tr>
        <td><b>Beds: </b></td>
        <td>[% row_beds %]</td>
    </tr>
    <tr>
        <td><b>Rent: </b></td>
        <td>[% row_rent %]</td>
    </tr>
    <tr>
        <td><b>Tenant Name: </b></td>
        <td>[% row_tenant %]</td>
    </tr>
    <tr>
        <td><b>Telephone: </b></td>
        <td>[% row_phone %]</td>
    </tr>
    <tr>
        <td><b>Landlord: </b></td>
        <td>[% row_landlord %]</td>
    </tr>
    <tr>
        <td><b>Telephone:  </b></td>
        <td>[% row_lphone %]</td>
    </tr>
    <tr>
        <td><b>Realtor: </b></td>
        <td>[% row_realtor %]</td>
    </tr>
    <tr>
        <td><b>Telephone: </b></td>
        <td>[% row_rphone %]</td>
    </tr>
    <tr>
        <td><b>Lease: </b></td>
        <td>[% row_start_date %] - [% row_end_date %]</td>
    </tr>
    <tr>
        <td><b>Comment: </b></td>
        <td>[% row_comment_text %]</td>
    </tr>
</table>
