<form method="[% Config.form_method %]"" action="[% program %]" enctype="application/x-www-form-urlencoded">
<table border="0">
    <tr>
        <td><b>&#149; View All Active Work Orders: </b></td>
        <td><input type="submit" name="go" value="View Active" /></td>
    </tr>
    <tr>
        <td><b>&#149; View All Completed Work Orders: </b></td>
        <td><input type="submit" name="go" value="View Complete" /></td>
    </tr>
    <tr>
        <td><b>&#149; View Work Order Summary Report: </b></td>
        <td><input type="submit" name="go" value="View Summary" /></td>
    </tr>
</table>
<input type="hidden" name="start_date" value="[% start_date %]" /><input type="hidden" name="end_date" value="[% end_date %]" /><div></div></form>
