<div id="groups">
    <div class="header_small">

    <form method="[% Config.form_method %]" action="[% script %]" enctype="application/x-www-form-urlencoded" id="groupform" name="groupform">
        <h5>
            <label for="associate_table_name"><strong>Table:</strong></label>
            <select name="associate_table_name" id="associate_table_name" size="1" onchange="document.forms['groupform'].submit()">
                [% "<option>Select a table ...</option>" UNLESS associate_table %]
            [% FOREACH one = current_user.valid_data.tables %]
                <option value="[% one.name %]"[% IF one.name == associate_table.name; ' selected="selected"'; END %]>[% one.description %]</option>
            [% END %]
            </select>
        </h5>

        <h5>
            [% IF associate_lookup_groups %]
            <label for="associate_group_id"><strong>Group:</strong></label>
            <select name="associate_group_id" id="associate_group_id" size="1" onchange="document.forms['groupform'].submit()">
                [% "<option>No groups ...</option>" UNLESS associate_lookup_groups %]
                [% "<option>Choose a group ...</option>" IF( associate_lookup_groups && ! associate_current_group ) %]
                [% FOR lg IN associate_lookup_groups %]
                    <option value="[% lg.rec_id %]"[% IF lg.rec_id == associate_current_group.rec_id; ' selected="selected"'; END %]>[% lg.name %]</option>
                [% END %]
            </select>
            [% ELSE %]
                Choose a table to see its groups
            [% END %]
        </h5>
        <input type="hidden" name="table_name" id="table_name" value="[% current_table.name %]" />
        <input type="hidden" name="table_id" id="table_id" value="[% current_table.rec_id %]" />
        <input type="hidden" name="op" value="associate" />
    </form>
    <p>Select a table and a group.</p>
    </div>

    [% IF associate_current_group %]
    <form method="[% Config.form_method %]" action="[% script %]" enctype="application/x-www-form-urlencoded" id="groupeditform" name="groupeditform">
        <table cellspacing="0">
            <tr class="head">
                <th class="lookup_group">Associated?</th>
            </tr>
        [% rowclass = 0 %]
        [% FOR row IN current_user.valid_data.list( current_table.name, 'all' ) %] [% rowclass = rowclass * -1 + 1 %]
            <tr class="[% IF rowclass; "even"; ELSE; "odd"; END %]">
                <td class="lookup_group">
                [% INCLUDE util/checkbox.html
                    name    = "item_$row.rec_id"
                    value   = lookup_associations_hash.${ row.rec_id } || ${ "item_$row.rec_id" }
                    # value   = associate_current_group.is_member( row.rec_id ) || associate_current_group.${ "item_$row.rec_id" }
                    # the line above turns the checkbox on if, e.g., associate_current_group.item_1001 comes in
                    # as a variable; this is in case the user gets an error, so their work is not lost
                %]
                </td>
            </tr>
        [% END %]
        </table>

        <input type="hidden" name="table_name" id="table_name" value="[% current_table.name %]" />
        <input type="hidden" name="table_id" id="table_id" value="[% current_table.rec_id %]" />
        <input type="hidden" name="associate_group_id" value="[% associate_current_group.rec_id %]" />
        <input type="hidden" name="associate_table_name" value="[% associate_table.name %]" />
        <input type="hidden" name="associate_table_id" value="[% associate_table.rec_id %]" />
        <input type="submit" name="op" value="Save associations" />
    </form>
    [% END %]
</div>

