                    <tr class="head super">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2">Maximums per...</th>
                    </tr>
                    <tr class="head">
                        <th></th>
                        <th>Name</th>
                        <th>Time</th>
                        <th>1 Unit</th>
                        <th>Cost</th>
                        <th>Encounter</th>
                        <th>Day</th>
                        <th>Calculate Cost</th>
                    </tr>
