[%#
  This allows you to include templates which will fallback to a default.

  Params:
  template   The template to look for, specified as a format to be passed to
             the format() filter (ie. sprintf)
  var        The variable to feed to the template format
  default    Use this in place of var if the specific template is not found.
             Defaults to "Default".
  quiet      If true, it will not display anything if there is no template.
             Defaults to false.
  
%]

[% DEFAULT
   default = 'Default'
   quiet   = 0
%]

[% USE String %]
[% SET specific_template = String.new(var).format(template).text %]
[% SET default_template  = String.new(default).format(template).text %]

[% TRY %]
  [% INCLUDE $specific_template %]
[% CATCH %]
  [% TRY %]
    [% INCLUDE $default_template %]
  [% CATCH %]
    [% UNLESS quiet %]
    <h2>There is no report template for [% state %] and no default template.</h1>
    [% END %]
  [% END %]
[% END %]
