        <tbody id="note_[% note.id %]" [% ( note.billing_status == 'Unbillable' ) ? 'class="unbillable"' : 'class="billable"'  %]>
            <tr class="note_fields">
                [% INCLUDE financial/billing/button_billable.html UNLESS no_toggle_billable %]
                <td>[% note.id %]</td>
                <td>[% note.client_name %]</td>
                <td class="date">[% note.start_date.format_date_time %]</td>
                <td>[% note.note_duration %]</td>
                <td>[% note.charge_code_name %]</td>
                <td>[% note.location_name %]</td>
                <td>[% note.writer %]</td>
            </tr>
            <tr class="note_body">
                <td></td>
                <td colspan="5"><p title="[% note.note_body %]">[% note.note_body %]</p></td>
            </tr>
        </tbody>
