<table border="0">
    <tr>
        <td><b>Employee: </b></td>
        <td>[% row_employee %]</td>
    </tr>
    <tr>
        <td><b>Employee ID: </b></td>
        <td>[% rec_id %]</td>
    </tr>
    <tr>
        <td><b>Currently Employed: </b></td>
        <td>[% row_active %]</td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><b>&#149; Personal Information</b></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><b>Address: </b></td>
        <td>[% row_addr %]</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>[% row_city %]</td>
    </tr>
    <tr>
        <td><b>Emergency Contact: </b></td>
        <td>[% row_next_kin %]</td>
    </tr>
    <tr>
        <td><b>Emer/Home Phone: </b></td>
        <td>[% row_home_phone %]</td>
    </tr>
    <tr>
        <td><b>Date of Birth: </b></td>
        <td>[% row_dob %]</td>
    </tr>
    <tr>
        <td><b>Social Security Number: </b></td>
        <td>[% row_ssn %]</td>
    </tr>
    <tr>
        <td><b>Sex: </b></td>
        <td>[% row_sex %]</td>
    </tr>
    <tr>
        <td><b>Ethnicity: </b></td>
        <td>[% row_race %]</td>
    </tr>
    <tr>
        <td><b>Marital Status: </b></td>
        <td>[% row_marital_status %]</td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><b>&#149; Employment</b></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><b>Job Title: </b></td>
        <td>[% row_job_title %]</td>
    </tr>
    <tr>
        <td><b>Date of Employment: </b></td>
        <td>[% row_date_employ %]</td>
    </tr>
    <tr>
        <td><b>Department: </b></td>
        <td>[% row_dept_name %]</td>
    </tr>
    <tr>
        <td><b>Primary Unit: </b></td>
        <td>[% row_unit_lname %]</td>
    </tr>
    <tr>
        <td><b>Supervisor: </b></td>
        <td>[% row_supervisor %]</td>
    </tr>
    <tr>
        <td><b>Supervisor (2): </b></td>
        <td>[% row_supervisor_2 %]</td>
    </tr>
    <tr>
        <td><b>Work Phone: </b></td>
        <td>[% row_work_phone %]</td>
    </tr>
    <tr>
        <td><b>Admin ID: </b></td>
        <td>[% row_admin_id %]</td>
    </tr>
    <tr>
        <td><b>Eligible for Overtime: </b></td>
        <td>[% row_over_time %]</td>
    </tr>
    <tr>
        <td><b>US Citizen: </b></td>
        <td>[% row_us_citizen %]</td>
    </tr>
    <tr>
        <td><b>Withholding Code: </b></td>
        <td>[% row_with_hold %]</td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><b>&#149; Performance Evaluations</b></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><b>Date of Last Evaluation: </b></td>
        <td>[% eval_start_date %]</td>
    </tr>
    <tr>
        <td><b>Next Evaluation Due: </b></td>
        <td>[% eval_end_date %]</td>
    </tr>
    <tr>
        <td><b>Evaluation Note: </b></td>
        <td>[% eval_comment_text %]</td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><b>&#149; Employee Drivers Licenses</b></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><b>Does Employee Have A Valid <br /> Commercial Drivers License: </b></td>
        <td>[% row_cdl %]</td>
    </tr>
    <tr>
        <td><b>License ID Number: </b></td>
        <td>[% cdl_cdl_id %]</td>
    </tr>
    <tr>
        <td><b>Date License Was Issued: </b></td>
        <td>[% cdl_start_date %]</td>
    </tr>
    <tr>
        <td><b>Date License Expires: </b></td>
        <td>[% cdl_end_date %]</td>
    </tr>
    <tr>
        <td><b>Comment: </b></td>
        <td>[% cdl_log_notes %]</td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><b>Does Employee Have A Valid <br /> Dept. of Transportation License: </b></td>
        <td>[% dot_valid %]</td>
    </tr>
    <tr>
        <td><b>License ID Number: </b></td>
        <td>[% dot_dot_id %]</td>
    </tr>
    <tr>
        <td><b>Date License Was Issued: </b></td>
        <td>[% dot_start_date %]</td>
    </tr>
    <tr>
        <td><b>Date License Expires : </b></td>
        <td>[% dot_end_date %]</td>
    </tr>
    <tr>
        <td><b>Comment: </b></td>
        <td>[% dot_log_notes %]</td>
    </tr>
</table>

<table border="0">
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><b>&#149; Employee Education</b></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><b>Highest Level of Education: </b></td>
        <td>[% edu_max_level %]</td>
    </tr>
</table>

<p />


[% IF edu_degree_1 %]
<table border="0">
    <tr>
        <td><b>Bachelors Degree: </b></td>
        <td>[% edu_degree_1 %]</td>
    </tr>
    <tr>
        <td><b>Is Employee A Registered Nurse: </b></td>
        <td>[% edu_licence_1 %]</td>
    </tr>
    <tr>
        <td><b>RN License ID Number (if app): </b></td>
        <td>[% edu_licence_1_id %]</td>
    </tr>
    <tr>
        <td><b>RN License Expiration Date: </b></td>
        <td>[% edu_licence_1_exp %]</td>
    </tr>
</table>
<p />
[% END %]

[% IF edu_degree_2 %]
<table border="0">
    <tr>
        <td><b>Masters Degree: </b></td>
        <td>[% edu_degree_2 %]</td>
    </tr>
    <tr>
        <td><b>Is Employee A Certified Social Worker: </b></td>
        <td>[% edu_licence_2 %]</td>
    </tr>
    <tr>
        <td><b>CSW License ID Number (if app): </b></td>
        <td>[% edu_licence_2_id %]</td>
    </tr>
    <tr>
        <td><b>CSW License Expiration Date: </b></td>
        <td>[% edu_licence_2_exp %]</td>
    </tr>
</table>
<p />
[% END %]

[% IF edu_degree_3 %]
<table border="0">
    <tr>
        <td><b>Doctorate Degree: </b></td>
        <td>[% edu_degree_3 %]</td>
    </tr>
    <tr>
        <td><b>Is Employee A Licensed Psychologist: </b></td>
        <td>[% edu_licence_3 %]</td>
    </tr>
    <tr>
        <td><b>License ID Number (if app): </b></td>
        <td>[% edu_licence_3_id %]</td>
    </tr>
    <tr>
        <td><b>License Expiration Date: </b></td>
        <td>[% edu_licence_3_exp %]</td>
    </tr>
</table>
<p />
[% END %]

[% IF edu_degree_4 %]
<table border="0">
    <tr>
        <td><b>Medical Degree: </b></td>
        <td>[% edu_degree_4 %]</td>
    </tr>
    <tr>
        <td><b>Is Employee A Licensed Medical Doctor: </b></td>
        <td>[% edu_licence_4 %]</td>
    </tr>
    <tr>
        <td><b>MD License ID Number (if app): </b></td>
        <td>[% edu_licence_4_id %]</td>
    </tr>
    <tr>
        <td><b>MD License Expiration Date: </b></td>
        <td>[% edu_licence_4_exp %]</td>
    </tr>
</table>
<p />
[% END %]

[% IF edu_degree_5 %]
<table border="0">
    <tr>
        <td><b>Other Degree: </b></td>
        <td>[% edu_degree_5 %]</td>
    </tr>
    <tr>
        <td><b>Is Employee A Licensed Professional: </b></td>
        <td>[% edu_licence_5 %]</td>
    </tr>
    <tr>
        <td><b>License ID</b> Number (if app): </b></td>
        <td>[% edu_licence_5_id %]</td>
    </tr>
    <tr>
        <td><b>License Expiration Date: </b></td>
        <td>[% edu_licence_5_exp %]</td>
    </tr>
</table>
<p />
[% END %]

[% IF edu_cert_1 || edu_cert_2 %]
<table border="0">
    <tr>
        <td><b>Professional Certificate (1): </b></td>
        <td>[% edu_cert_1 %]</td>
    </tr>
    <tr>
        <td><b>Professional Certificate (2): </b></td>
        <td>[% edu_cert_2 %]</td>
    </tr>
</table>
<p />
[% END %]

[% IF data %]
<p />
<b>&#149; Employee Training Records</b>
<p />
<table border="0">
    <tr>
        <th><u>Date of Training</u></th>
        <th><u>Title of Training</u></th>
        <th><u>Instructor</u></th>
        <th><u>Training Type</u></th>
    </tr>
    [% FOREACH dataii = data; dataii; END %]
</table>
<p />
[% END %]
