<b>&#149; Formal Staff Supervision Note</b>

<p />

<table border="0">
    <tr>
        <td><b>Employee: </b></td>
        <td>[% row.employee %]</td>
    </tr>
    <tr>
        <td><b>Date: </b></td>
        <td>[% row.start_date %]</td>
    </tr>
    <tr>
        <td><b>Supervisor: </b></td>
        <td>[% row.input_by %]</td>
    </tr>
    <tr>
        <td><b>Unit Name: </b></td>
        <td>[% row.unit_name %]</td>
    </tr>
    <tr>
        <td><b>Charts Reviewed: </b></td>
        <td>[% row.chart_list %]</td>
    </tr>
    <tr>
        <td><b>Issues Discussed: </b></td>
        <td>[% row.issue_list %]</td>
    </tr>
    <tr>
        <td><b>Administrative Issues: </b></td>
        <td>[% row.admin_note %]</td>
    </tr>
    <tr>
        <td><b>Clinical Issues: </b></td>
        <td>[% row.clinic_note %]</td>
    </tr>
    <tr>
        <td><b>Supervisor's Suggestions: </b></td>
        <td>[% row.suggest_note %]</td>
    </tr>
</table>
