[% action = 'edit' %]
<div class="widget inactive" id="security">
    <h4>Security</h4>
    [% UNLESS op == 'create' || ( op == 'save' && errors ) %]
    <form method="[% Config.form_method %]" action="[% script %]" enctype="application/x-www-form-urlencoded" name="personnel_security_form">

        <dl class="inline">
            [% INCLUDE util/input_text.html
                name    = 'login'
                label   = 'Login'
                value   = current.login
                size    = 12
                maxlength = 24
                dl      = 1
            %]
                <dd><em>Login must be between 6 and 24 characters long.</em></dd>

            [% IF action == 'edit' %]
                [% INCLUDE util/input_text.html
                    name    = 'password'
                    label   = 'Password'
                    size    = 12
                    maxlength = 24
                    dl      = 1
                    password = 1
                %]
                [% INCLUDE util/input_text.html
                    name    = 'password2'
                    label   = 'Verify password'
                    size    = 12
                    maxlength = 24
                    dl      = 1
                    password = 1
                %]
                <dd><em>Password must be between 6 and 24 characters long.</em></dd>
                <hr class="div" />
                <hr class="div" />
                <hr class="subtle" />

                <dt>
                [% INCLUDE util/checkbox.html
                    name    = 'password_expired'
                    value   = current.password_expired
                %]
                </dt>
                <dd><label for="password_expired">Force password change?</label></dd>
            [% END %]
        </dl>

        <table border="0">
            <tr>
                <th>[% 'Home Page' IF action == 'edit' %]</th>
                <th></th>
                <th>Roles</th>
            </tr>

            [% FOR role IN current.security_roles.sort_roles_by_homepage %]
                [% rname = role.name %]
                <tr>
                    [% IF role.has_homepage %]
                        [% INCLUDE home_page_control role_name = rname %]
                    [% ELSE %]
                        <td />
                    [% END %]

                    [% INCLUDE util/checkbox.html
                        name    = 'role_' _ role.id
                        value   = current.has_role( role )
                        wraptag = 'td'
                    %]
                    <td><label for="[% rname %]">[% rname %]</label></td>
                </tr>
            [% END %]

        </table>

        [% IF action == 'edit' %]
        <hr class="div" />
        <hr class="div" />
        <hr class="subtle" />
        <h5>Notes</h5>
        <ul>
            <li>Only enter a password if you want to change it; the user's password will <strong>not</strong> appear here.</li>
            <li>To prevent someone from logging into the system, set their login blank <strong>or</strong> turn off 'Active.'</li>
            <li>You <strong>can</strong> deactivate your own account, so be careful.</li>
        </ul>
        [% END %]

        <input type="hidden" name="staff_id" value="[% current.staff_id %]" />
        [% IF action == 'edit' %]
        <p class="save"><input type="submit" name="op" id="op_save" value="Save security" /></p>
        [% ELSE %]
        <p class="edit"><input type="submit" name="op" id="op_edit" value="Edit security" /></p>
        [% END %]
    </form>
    [% ELSE %]
    <p>Security must be set after creating a new person.</p>
    [% END %]
</div>

[% BLOCK home_page_control %]
    <td class="home_page_type">
    [% IF action == 'edit' %]
    <input type="radio" name="home_page_type" id="home_page_type_[% this_key %]" value="[% role_name %]"
        [%- ' checked="checked"' IF role_name == current.home_page_type %] />
    [% ELSE %]
    [% "<strong>Home page</strong>" IF role_name == current.home_page_type %]
    [% END %]
    </td>
[% END %]
