<form method="[% Config.form_method %]"" action="[% program %]" enctype="application/x-www-form-urlencoded">

<table border="0">
    <tr>
        <td><h4>Select Staffmember: </h4></td>
        <td>
[% INCLUDE util/select.html
    s_name   = "staff"
    s_values  = staff
%]</td>
    </tr>
</table>

<input type="hidden" name="previous" value="[% previous %]" />
<input type="submit" name="go" value="Select" />

<p />

[% IF previous %]
<a href="[% previous %]">Previous Screen</a>

<br />
[% END %]
</form>

