<p />

<b>&#149; Personnel Change Notice</b>

<p />

<table border="0">
    <tr>
        <td><b>Change Date:      </b></td>
        <td>[% row.change_date %]</td>
    </tr>
    <tr>
        <td><b>Change Type:      </b></td>
        <td>[% row.change_type %]</td>
    </tr>
    <tr>
        <td><b>Employee Name:    </b></td>
        <td>[% row.staff_name %]</td>
    </tr>
    <tr>
        <td><b>Employee Dept:    </b></td>
        <td>[% row.dept %]</td>
    </tr>
    <tr>
        <td><b>Employee Unit:    </b></td>
        <td>[% row.unit %]</td>
    </tr>
    <tr>
        <td><b>Supervisor:       </b></td>
        <td>[% row.super_name %]</td>
    </tr>
    <tr>
        <td><b>Employee Title:   </b></td>
        <td>[% row.job_title %]</td>
    </tr>
    <tr>
        <td><b>Employee Status:  </b></td>
        <td>[% row.job_status %]</td>
    </tr>
    <tr>
        <td><b>Employee Address: </b></td>
        <td>[% row.addr %] [% row.post_code %]</td>
    </tr>
    <tr>
        <td><b>Employee Phone:   </b></td>
        <td>[% row.phone %]</td>
    </tr>
    <tr>
        <td><b>Input By: </b></td>
        <td>[% row.input_by %]</td>
    </tr>
    <tr>
        <td><b>Input On: </b></td>
        <td>[% row.input_on %]</td>
    </tr>
    <tr>
        <td><b>Additional Info: </b></td>
        <td>[% row.note_text %]</td>
    </tr>
</table>
