#center {
    margin-left: 24px;
    width: 900px;
    border:1px solid #6600CC;
    padding:7px;
    background-color:#DEDEFF;
}

#version_copywrite {
    margin-left: 6px;
}

#get_help {
    padding-top: 8px;
    display: block;
    text-decoration: underline;
    font-size: 1.2em;
}

#help_list {
    padding-top: 0;
    margin-top: 0;
    padding-left: 16px;
}
