h3 {
    font-size : 1.1em;
    margin : 1em 0 .3em 0;
}
dl.configuration {
    margin : 0 0 2em 2em;
}
dl.configuration dt label {
    font-weight : bold;
    width : 13em;
    display : block;
    float : left;
    border-bottom : 1px solid #ccc;
}
dl.configuration dt input,
dl.configuration dt select {
    float : left;
}
dl.configuration dd {
    margin : 0 0 1em 0;
}
