<h4>
<hr>
ERROR: This patient does have a respite record.<hr>
 <p />
 Please add this patient to the Respite Care roster prior to opening an event.<br>
The links below provide a concise list of the steps necessary for opening a patient record.<br>
The links are ordered in the correct sequence for processing new admissions. <p />
<!-- 
 <a href="../intake/ref_add.cgi"> Enter SPMI Referral</a>
 <br />
 <a href="../intake/pt_add.cgi"> Add SPMI To Dept</a>
 <br />
 <a href="../intake/place_edit.cgi"> Add SPMI To Roster</a>
 -->
</h4>
