[%# There was an additional logo and title message that was here 
     causing duplicate logos on the page. Preserved below:

     print "<center>",img ({src=>"../images/logo.gif"}),"</center>"; 
     print h4(hr(), "<center>$Name</center>", hr() );
%]

<form method="get" action="[% program %]" enctype="application/x-www-form-urlencoded">
<table border="0">
    <tr>
        <td><b>[% counter %] Matches Found.</b></td>
        <td><b>Please Verify Patient Identity.</b></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><b>&#149; Select Patient: </b></td>
        <td>
[% INCLUDE util/select.html
    s_name   = "ID"
    s_values  = pt_data
%]</td>
    </tr>
</table>
<p />
