                    <h5>Axis I</h5>
                    <p style="margin-left:50px;">
                        <strong>Primary</strong>: [% current_diagnosis.diagnosis_1a %]<br />
                        <strong>Secondary</strong>: [% current_diagnosis.diagnosis_1b %]<br />
                        <strong>Tertiary</strong>: [% current_diagnosis.diagnosis_1c %]<br />
                    </p>

                    <h5>Axis II</h5>
                    <p style="margin-left:50px;">
                        <strong>Primary</strong>: [% current_diagnosis.diagnosis_2a %]<br />
                        <strong>Secondary</strong>: [% current_diagnosis.diagnosis_2b %]<br />
                    </p>

                    <p><strong>Axis III</strong>: [% current_diagnosis.diagnosis_3 %]</p>
                    <p><strong>Axis IV</strong>: [% current_diagnosis.diagnosis_4 %]</p>
                    <p><strong>GAF</strong>: [% current_diagnosis.diagnosis_5_current %]</p>
                    <hr />

                    <p><strong>Comments</strong>: [% current_diagnosis.comment_text %]</p>
