<div id="center" class="system_box">
<h3>Server Error</h3>
    <p>We're sorry, but eleMental Clinic cannot complete your request.  This is probably not a big problem -- all your data is fine, and the rest of the application should still work.</p>

    <h4>What to do?</h4>

    <ol>
        <li>First, click the "Back" button and try again.</li>
        <li>If that doesn't work, use the menu to go back to where you were.</li>
        <li>If this is a persistent error, you may not be able to work around it.</li>
    </ol>

    <p>Please contact your system administrator or a developer and <strong>report this error</strong>.  Include what you were doing when the error occured, and any other information you think is useful.</p>

    <h4>Technical Details</h4>
    <p>These technical details have been logged so that a developer can fix the problem.</p>
    <pre>[% message %]</pre>
</div>
