[% UNLESS no_print_header %]
<div id="print_header">

[% IF auto_print %]
  <script type="text/javascript">
    $(window).load(function () {
        print()
    });
  </script>
[% END %]
[% UNLESS header_only %]
<fieldset class="print_head">
    <legend>[% name %] notes</legend>
    <ul>
        <li>Only the letter itself will be printed (not the navigation, or these instructions).</li>
<!--         <li>Turn off headers and footers in your browser's "Page Setup."</li> -->
        [% IF a_href %]
        <li>Return to <a href="[% a_href %]">[% a_label %]</a> when you're finished.</li>
        [% END %]
    </ul>
    <p class="print"><input type="submit" onclick="print();return false;" value="Print" /></p>
</fieldset>
[% END %]

[%- UNLESS instructions_only %]
[%- IF light %]<div class="light">
    <h2>[% Config.org_name %]</h2>
    [%- IF date %]<p class="date">[% date %]</p>[% END %]
</div>
[%- ELSE %]
    <h2>[% Config.org_name %]</h2>
    [% IF print_header %]<p class="print_header">[% print_header | replace('\\\n', "<br />") | replace('\n', "<br />") %]</p>[% END %]
    [% IF date %]<p class="date">[% date %]</p>[% END %]
[%- END %]
[% END %]

</div>
[%- END %]